body {
  min-height: 100vh;
  margin-bottom: 2.5rem;
}

.img-icon {
  vertical-align: middle;
}

.abbreviate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.0rem;
  text-align: center;
}

#imagegrid_container {
  transform: translateZ(0);  /* this will cause the child with to be relaive to this container */
  height: calc(100vh - 5rem);
  background-color:#eef6fc;
}

#imagegrid_container_sub {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

.imagegrid {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.imagegrid .item {
  position: relative;
  padding-top: 100%; /* padding trick directly on the grid item */
  box-sizing: border-box;

  /* overflow: hidden; */
  /* height: 100%; */
  /* border: 1px red solid; */
  scroll-snap-align: start;
  scroll-margin-top: 12px;
}

.imagegrid .item .content {
  position: absolute;
  top: 0;
  right:0;
  left: 0;
  bottom: 0;
}

.imagegrid .item img {
  width: 100%;
  height: 100%;
  max-width: 256px;
  max-height: 256px;
  object-fit: contain;
  vertical-align: middle;
}

.imagegrid div.active {
  outline: 6px solid #d62350;
}

/* .imagegrid.hover_enabled div.item:not(.active):hover    we do not need the not-active now, because hover_enabled takes care of it*/
.imagegrid.hover_enabled div.item:hover {
  outline: 6px solid #d1607c;
}

.imagegrid:not(.hover_enabled) div.item:not(.active):hover {
  outline: 4px dashed #e47692;
}

.imagegrid div.item.active:hover {
  outline: 6px solid #a5475f;
}

.unselectable {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}


/* zoom view */

#imagezoom_container {
  background-color:#eef6fc;
}

#imagezoom_content {
	width: 100%;
	height: calc(100vh - 4rem);
  overflow: hidden;
}

#imagezoom_content section { 
  display: relative;
  width: 100%;
  height: 100%;
  display: flex; /* add */
  justify-content: center; /* add to align horizontal */
  align-items: center; /* add to align vertical */
}

#imagezoom_image {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  width: 100%;
  max-height: 100%;
  object-fit: contain;
  /* height: 100%; */
}


/* sidebar */

#sidebar_grid {
  height: calc(var(--vh, 1vh) * 100 - 5rem);
  width: 30%;
  max-width:400px;
  min-width:300px;
  padding-top: 15px;
  position: sticky;
  top: 3rem;
  transition: 0.1s;
  background-color:#37a8ff;
}

.table-container {
  max-width: 400px;
  width: 400px;
  display: flex;
  height: 85vh; 
  height: calc(var(--vh, 1vh) * 100 - 150px);  /* there is some similar calc in the js that creates the table; also js reacts to the resize event */
  overflow-y: scroll;
}

.table-container table {
  table-layout: fixed;
  overflow-wrap: break-word;  
  overflow-y: scroll;
}

.table-container input  {
  font-size: 0.75rem;
}

.table-container .dataTable-container {
  overflow-y: scroll;
}

#table-container {
  display: none;
}



/* star rating in sidebar */

/* settings */

.rating{
  --ratingSize: 0.8rem;
  --ratingColor: #eee;
  --ratingColorActive: #ffdd57;
}

/* The screen-reader class hides elements that are available only for screen readers. https://github.com/melnik909/screen-reader */

.screen-reader{
  width: var(--screenReaderWidth, 1px) !important;
  height: var(--screenReaderHeight, 1px) !important;
  padding: var(--screenReaderPadding, 0) !important;
  border: var(--screenReaderBorder, none) !important;

  position: var(--screenReaderPosition, absolute) !important;
  clip: var(--screenReaderClip, rect(1px, 1px, 1px, 1px)) !important;
  overflow: var(--screenReaderOverflow, hidden) !important;
}

.rating{
  --uiRatingColor: var(--ratingColor, #eee);
  --uiRatingColorActive: var(--ratingColorActive, #ffcc00);

  display: var(--ratingDisplay, flex);
  font-size: var(--ratingSize, 1rem);
  color: var(--uiRatingColor);
  padding:0.2em 0 0 0;
}
    
.rating__control:nth-of-type(1):focus ~ .rating__item:nth-of-type(1)::before,
.rating__control:nth-of-type(2):focus ~ .rating__item:nth-of-type(2)::before,
.rating__control:nth-of-type(3):focus ~ .rating__item:nth-of-type(3)::before,
.rating__control:nth-of-type(4):focus ~ .rating__item:nth-of-type(4)::before,
.rating__control:nth-of-type(5):focus ~ .rating__item:nth-of-type(5)::before{
  content: ""; 
  /* box-shadow: 0 0 0 var(--ratingOutlineWidth, 4px) var(--uiRatingColorActive); */

  position: absolute;
  top: -0.15em;
  right: 0;
  bottom: -.15em;
  left: 0;
  z-index: -1;
}

.rating__item{
  cursor: pointer;  
  position: relative;
}

.rating__item{
  padding-left: .15em;
  padding-right: 0;
}

.rating__star{
  display: block;
  width: 1em;
  height: 1em;

  fill: currentColor;
  stroke: var(--ratingStroke, #222);
  stroke-width: var(--ratingStrokeWidth, 1px);
}

.rating:hover,
.rating__control:nth-of-type(1):checked ~ .rating__item:nth-of-type(1),
.rating__control:nth-of-type(2):checked ~ .rating__item:nth-of-type(-n+2),
.rating__control:nth-of-type(3):checked ~ .rating__item:nth-of-type(-n+3),
.rating__control:nth-of-type(4):checked ~ .rating__item:nth-of-type(-n+4),
.rating__control:nth-of-type(5):checked ~ .rating__item:nth-of-type(-n+5){
  color: var(--uiRatingColorActive);
}

.rating__item:hover ~ .rating__item{
  color: var(--uiRatingColor);
}
