body {
  /* min-height: 100vh; */
  margin-bottom: 2.5rem;
}

.img-icon {
  vertical-align: middle;
}

.abbreviate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rtl {
  direction: rtl;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.0rem;
  text-align: center;
}

/* start page */

#page_start_last_dir_container li {
  word-break: break-word;
  max-width: 640px;
}

#page_start_load_error_message {
  word-break: break-word;
  max-width: 640px;
}


/* imagegrid */

#imagegrid_container {
  transform: translateZ(0);  /* this will cause the child with to be relaive to this container */
  height: calc(100vh - 5rem);
  background-color:#eef6fc;
}

#imagegrid_container_sub {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

.imagegrid {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));  /* repeat(auto-fit, minmax(150px, 1fr)); */
}

.imagegrid .item {
  position: relative;
  padding-top: 100%; /* padding trick directly on the grid item */
  box-sizing: border-box;

  /* overflow: hidden; */
  /* height: 100%; */
  /* border: 1px red solid; */
  
  /* scroll-snap-align: start;
  scroll-margin-top: 12px; */
}

.imagegrid .item .content {
  position: absolute;
  top: 0;
  right:0;
  left: 0;
  bottom: 0;
}

.imagegrid .item img {
  width: 100%;
  height: 100%;
  max-width: 320px;
  max-height: 320px;
  object-fit: contain;
  vertical-align: middle;
}

.imagegrid div.item.active {
  /* outline: 6px solid #2a5aa1; */
  box-shadow: 0px 0px 8px 7px  #234b88;
  transform: scale(0.92);
}

.imagegrid div.item.active:before {
  background-color: #2a5aa1;
  color: white;
  content: "\2713";
  font-weight: bold;
  border: 2px solid #cccccc;
  border-radius: 50%;
  position: absolute;
  margin: 2px;
  top: -14px;
  left: -14px;
  z-index: 1;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 28px;
  font-size: 19px;
  transform: scale(1.0);
}

/* .imagegrid.hover_enabled div.item:not(.active):hover    we do not need the not-active now, because hover_enabled takes care of it */
.imagegrid.hover_enabled div.item:hover {
  /* outline: 6px solid #d1607c; */
  box-shadow: 0px 0px 8px 4px #234b88;
}

.imagegrid:not(.hover_enabled) div.item:not(.active):hover {
  /* outline: 4px dashed #e47692; */
  box-shadow: 0px 0px 8px 4px  #234b88a0;
}

.imagegrid div.item.active:hover {
  /* outline: 6px solid #a5475f; */
  box-shadow: 0px 0px 3px 7px #1c3c6d;
}

.unselectable {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.pixelated {
  image-rendering: pixelated;
}


/* zoom view */

#zoomview_container {
  background-color:#eef6fc;
}

#imagezoom_content {
	width: 100%;
	height: calc(100vh - 6rem - 4rem);  /* substract header/footer and histogram */
  overflow: hidden;
}

#imagezoom_content section { 
  width: 100%;
  height: 100%;
  display: flex; /* add */
  justify-content: center; /* add to align horizontal */
  align-items: center; /* add to align vertical */
}

#imagezoom_image {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  max-height: 100%;
  max-width: 100%;
  /* object-fit: contain; */  /* this does not play so well with the alignment of canvas, so we use the fillwidth/fullheight method */
  /* height: 100%; */
}

#imagezoom_image.fullwidth {
  width: 100%;
  height: auto;
}

#imagezoom_image.fullheight {
  width: auto;
  height: 100%;
}

#imagezoom_canvas { 
  position: absolute; 
  width: 100%; 
  height: 100%; 
}

#imagezoom_histogram_container {
  width:100%;
}

#imagezoom_histogram_container * {  /* child elements do not trigger mouse events, only the top element does */
  pointer-events: none;
}

#imagezoom_histogram {
  height: 4rem;
  padding: 0.15rem 0 0.1rem 0;
  position: relative;
  bottom: 0;
  margin: auto;
  width: 96%;
  max-width: 1200px;
}

#imagezoom_histogram_canvas_container {
  width: 100%;
  height: 1.77rem;
  padding: 0;
  margin: 0.15rem 0;
  box-shadow: -1px 0 0 0.5px #606060, 1px 0 0 0.5px #606060;
}

#imagezoom_histogram_canvas {
  width: 100%;
  height: 100%;
}

#imagezoom_colorbar_container {
  position: absolute;
  left: 0;  /* left and right will be changed by js when user drags it */
  right: 0;
  height: 1.68rem;
  padding: 0;
  margin: 0;
  box-shadow: -1px 0 0 0.5px #606060, 1px 0 0 0.5px #606060;
}

#imagezoom_colorbar {
  width: 100%;
  height: 100%;
}

#imagezoom_table_range {
  font-size: 0.75rem;
  height: 4rem;
}

#imagezoom_table_range td {
  padding: 3px;
  height: 2rem;
  vertical-align: bottom;
}

#imagezoom_table_range input {
  width: 2.6rem;
  margin: 0; 
  border: none;
  border-bottom: 1px solid #909090;
  text-align: right;
  font-size: 0.75rem;
  color: #4a4a4a;
}

/* remove up and down arrows */
#imagezoom_table_range input::-webkit-outer-spin-button,
#imagezoom_table_range input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#imagezoom_table_range .range_number, 
#imagezoom_table_range .range_unit  {
  text-align: right;
}

#imagezoom_table_range .range_unit_prefix  {
  text-align: right;
}


/* zoomview spectrum */

#spectrumzoom_form_container {
  width:100%;
  height: 8rem;
}

#spectrumzoom_content {
	width: 100%;
	height: calc(100vh - 6rem - 8rem);  /* substract header/footer and histogram */
  overflow: hidden;
}

#spectrumzoom_form_table {
  background-color: #ffffff00;
  width: 320px;
  margin: auto;
}

#spectrumzoom_form_table td, #spectrumzoom_form_table th {
  vertical-align: middle;
  padding: .2em .75em;
  height: 3em;
}

/* remove up and down arrows */
#spectrumzoom_form_table input::-webkit-outer-spin-button,
#spectrumzoom_form_table input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



/* sidebar */

.sidebar {
  height: calc(var(--vh, 1vh) * 100 - 5rem);
  width: 30%;
  max-width:400px;
  min-width:300px;
  padding-top: 15px;
  position: sticky;
  top: 3rem;
  transition: 0.1s;
  background-color:#37a8ff;
  border-left:1px solid #afdafa;
}


/* sidebar table for image info */

#table-container {
  max-width: 400px;
  display: flex;
  height: 85vh; 
  height: calc(var(--vh, 1vh) * 100 - 13.3rem);  /* there is some similar calc in the js that creates the table; also js reacts to the resize event */
  overflow-y: hidden;
  display: none;
}

#table-container table {
  table-layout: fixed;
  overflow-wrap: break-word;  
  overflow-y: scroll;
}

#table-container input  {
  font-size: 0.75rem;
}

#table-container .dataTable-container {
  overflow-y: scroll;
}

#table-container .dataTable-input {  /* a quick hack to save some vertical space */
  position: absolute;
  right: 0.8rem;
  width: 6rem;
  opacity: 0.8;
  margin-top: 0.37rem;
  background-color:#ffffffb4;
  border: 1px solid #999;
}

/* star rating in sidebar */

/* settings */

.rating{
  --ratingSize: 0.8rem;
  --ratingColor: #eee;
  --ratingColorActive: #e0bf00;

  --ratingSizeFilter: 1.0rem;
}

/* The screen-reader class hides elements that are available only for screen readers. https://github.com/melnik909/screen-reader */

.screen-reader{
  width: var(--screenReaderWidth, 1px) !important;
  height: var(--screenReaderHeight, 1px) !important;
  padding: var(--screenReaderPadding, 0) !important;
  border: var(--screenReaderBorder, none) !important;

  position: var(--screenReaderPosition, absolute) !important;
  clip: var(--screenReaderClip, rect(1px, 1px, 1px, 1px)) !important;
  overflow: var(--screenReaderOverflow, hidden) !important;
}

.rating{
  --uiRatingColor: var(--ratingColor, #eee);
  --uiRatingColorActive: var(--ratingColorActive, #ffd865);

  display: var(--ratingDisplay, flex);
  font-size: var(--ratingSize, 1rem);
  color: var(--uiRatingColor);
  padding: 0.2em 0 0 0;
}
    
.rating__control:nth-of-type(1):focus ~ .rating__item:nth-of-type(1)::before,
.rating__control:nth-of-type(2):focus ~ .rating__item:nth-of-type(2)::before,
.rating__control:nth-of-type(3):focus ~ .rating__item:nth-of-type(3)::before,
.rating__control:nth-of-type(4):focus ~ .rating__item:nth-of-type(4)::before,
.rating__control:nth-of-type(5):focus ~ .rating__item:nth-of-type(5)::before,
.rating__control:nth-of-type(6):focus ~ .rating__item:nth-of-type(6)::before{
  content: ""; 
  /* box-shadow: 0 0 0 var(--ratingOutlineWidth, 4px) var(--uiRatingColorActive); */

  position: absolute;
  top: -0.15em;
  right: 0;
  bottom: -.15em;
  left: 0;
  z-index: -1;
}

.rating__item{
  cursor: pointer;  
  position: relative;
}

.rating__item{
  padding-left: .15em;
  padding-right: 0;
}

.rating__star{
  display: block;
  width: 1em;
  height: 1em;

  fill: currentColor;
  stroke: var(--ratingStroke, #222);
  stroke-width: var(--ratingStrokeWidth, 1px);
}

.rating:hover,
.rating__control:nth-of-type(1):checked ~ .rating__item:nth-of-type(1),
.rating__control:nth-of-type(2):checked ~ .rating__item:nth-of-type(-n+2),
.rating__control:nth-of-type(3):checked ~ .rating__item:nth-of-type(-n+3),
.rating__control:nth-of-type(4):checked ~ .rating__item:nth-of-type(-n+4),
.rating__control:nth-of-type(5):checked ~ .rating__item:nth-of-type(-n+5),
.rating__control:nth-of-type(6):checked ~ .rating__item:nth-of-type(-n+6){
  color: var(--uiRatingColorActive);
}

.rating__item:hover ~ .rating__item{
  color: var(--uiRatingColor);
}


/* keywords in sidebar */

#sidebar_info .tags {
  height:2.9rem;
  overflow:auto;
}

#sidebar_info .tags .tag{
  border: 1px dotted #666;
  margin: 0.1rem;
  padding: 0 0.2rem;
  background-color: #cdddfb;
  line-height: 110%;
  color: #363636;
  height: 1.68em;
}

/* keywords modal */

#modal_keywords .modal-card-body {
  line-height:160%;
  padding-bottom:5rem;
}

/* modal error */
#modal_error .message { 
  word-break: break-word;
}

/* keywords autosuggestions dropdown */

.tags-look .tagify__dropdown__item{
  display: inline-block;
  border-radius: 3px;
  padding: .3em .5em;
  border: 1px solid #CCC;
  background: #F3F3F3;
  margin: .2em;
  font-size: .85em;
  color: black;
  transition: 0s;
}

.tags-look .tagify__dropdown__item--active{
  background: lightyellow;
  border-color: gold;
  color: black;
}

.tags-look .tagify__dropdown__item:hover{
  background: lightyellow;
  border-color: gold;
}



/*  sidebar for filtering */

#sidebar_filter {
  overflow-y: auto;  /* we need this for overview */
  overflow-x: hidden;
}

#sidebar_filter_table {
  background-color: #ffffff00;
}

#sidebar_filter_table td, #sidebar_filter_table th {
  vertical-align: middle;
  padding: .2em .75em;
  height: 3em;
}

#sidebar_filter_table select.is-arrowless::after {
  content: "";
  border: none;
}

#sidebar_filter_table .rating{
  font-size: var(--ratingSizeFilter, 1rem);
  padding:0.38em 0 0 0;
}


#sidebar_filter_table button.delete {
  margin-top:0.0rem;
}

#sidebar_filter_table input {
  margin-top:0.3rem;
  margin-bottom:0.3rem;
}


#sidebar_filter_table img.warning {
  margin-top:0.2rem;
}

#filter_overview_info, #filter_overview_num_selected_container {
  font-style: italic;
  color:#909090;
}

/* overview in filter sidebar */

#filter_overview_container {
  border: 1px solid #c0c0c0;
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-bottom:100%;
  position: relative;
}

#filter_overview {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  /*right:0;
  bottom:0;*/
  justify-content: center; /* add to align horizontal */
  align-items: center; /* add to align vertical */
}

#filter_overview_position {
  color:#909090;
  vertical-align: baseline;
}

#filter_overview_position_x,
#filter_overview_position_y {
  display: inline-block;
  min-width: 2.3em;
}

.filter_overview_item {
  position: absolute;
  border: 1px dashed #909090;
  z-index: 0;
}

.filter_overview_item.filtered_out {
  border: 1px dashed #c0c0c0;
  background-image: none;
}

.filter_overview_item.selected {
  border: 1.5px solid #234b88;
}

.filter_overview_item.selected.filtered_out {
  border: 1.5px solid #c0c0c0;
}

.filter_overview_item.highlight {
  border: 1px solid #193764;
  box-shadow: 0px 0px 2px 2px #1c63cc, 0px 0px 4px 3px #000000;
  z-index: 10;
}

.filter_overview_dot {
  height: 5px;
  width: 5px;
  margin-top: -2.5px;
  margin-left: -2.5px;
  border: 0px solid #909090;
  background-color: #909090;
  border-radius: 50%;
}

.filter_overview_dot.filtered_out {
  border: 0px solid #c0c0c0;
  background-color: #c0c0c0;
}


.filter_overview_dot.selected {
  border: 0px solid #234b88;
  background-color: #234b88;
  box-shadow: 0px 0px 1px 1px #1c63cc, 0px 0px 2px 1px #000000;
}

.filter_overview_dot.with_background {
  border: 0px solid #234b88;
  background-color: #234b88;
  box-shadow: 0px 0px 2px 2px #234b88;
}

.filter_overview_dot.selected.filtered_out {
  border: 0px solid #c0c0c0;
  background-color: #c0c0c0;
}

.filter_overview_dot.highlight {
  border-color: #193764;
  background-color: #193764;
  box-shadow: 0px 0px 2px 2px #1c63cc, 0px 0px 4px 3px #ffef5f;
  z-index: 10;
}

.filter_overview_selection_area {
  background: rgba(46, 115, 252, 0.11);
  border: 1px solid rgba(98, 155, 255, 0.85);
  border-radius: 0.15em;
}

.filter_overview_item_background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}

.filter_overview_item.filtered_out .filter_overview_item_background {
  opacity: 0.2;
}

#filter_overview_reset_zoom {
  opacity: 0.5;
}


/* sidebar imagezoomtools */

#sidebar_imagezoomtools {
  width: 350px;  /* we have to give a fixed with, because the plot is done on canvas with fixed witdth */
}

.sidebar_accordion {
  background-color: #eef6fc;
  /* color: #363636;
  font-weight: 600; */
  cursor: pointer;
  padding: 8px;
  margin: 0;
  width: 100%;
  text-align: left;
  border: none;
  border-top: 1px solid #909090;
  outline: none;
  transition: 0.1s;
}

.sidebar_accordion_active, .sidebar_accordion:hover {
  background-color: #cee7fa;
}

.sidebar_panel {
  padding: 0 6px;
  background-color: #eef6fc;
}

.sidebar_accordion:after {
  content: "\25bc";
  font-size: 10px;
  color: #a0a0a0;
  float: right;
  margin-left: 5px;
  padding-top: 2px;
}

.sidebar_accordion_active:after {
  content: "\25b2";
}

#table_line_profile {
  background-color: #ffffff00;
}

#table_line_profile td, #table_line_profile th {
  vertical-align: middle;
}

#table_line_profile input {
  text-align: right;
  height: 1.6rem; 
  /* width: 3.75rem; */
  padding: 3px;
}

#table_line_profile td {
  padding-right: 1px;
  padding-left: 1px;
}

/* remove up and down arrows */
#table_line_profile input::-webkit-outer-spin-button,
#table_line_profile input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#table_line_profile .out_of_date {
  color: #909090;
}

/* uplot */
#line_profile_plot_container .u-series {
  padding: 2px;
}

#line_profile_plot_container table td, #line_profile_plot_container table th {
  vertical-align: text-bottom;
}

#line_profile_plot_container div.u-marker {
  display: none;  /* not needed for just one series */
}