body {
  min-height: 100vh;
  margin-bottom: 2.5rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
}

.imagegrid {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.imagegrid div.active {
  outline: 6px solid #d62350;
}

/* .imagegrid.hover_enabled div.item:not(.active):hover    we do not need the not-active now, because hover_enabled takes care of it*/
.imagegrid.hover_enabled div.item:hover {
  outline: 6px solid #d1607c;
}

.imagegrid img {
  width: 100%;
  max-width:256px;
}

.imagegrid .item {
  position: relative;
  overflow: hidden;
  /* border: 1px red solid; */
}

.imagegrid .item img {
  vertical-align: middle;
}

.imagegrid {
  font-size: 0.6rem;
  user-select: none;  /* only for chrome */
}


/* sidebar */

.sidebar_grid {
  height: 100%;
  width: 25%;
  max-width:300px;
  z-index: 1;
  background-color: rgb(255, 255, 255); /* Black*/
  /* overflow-x: hidden; */
  padding-top: 15px;
  transition: 0.1s;
}
